{% extends 'base.html' %}

{% block title %} Restaurant List | {{ block.super }} {% endblock title %}

{% block content %}
    <h1> Restaurant List </h1>
    <ul>
        {% for restaurant in restaurant_list %}
            <li><a href="{{ restaurant.get_absolute_url }}"> {{ restaurant }} </a> </li>
            <li> {{ restaurant.name }} -- {{ restaurant.location }} -- {{ restaurant.category }} -- {{ restaurant.timestamp }} -- {{ restaurant.updated }} </li>
        {% endfor %}
    </ul>
{% endblock %}