<div class="container">
    <p> Welcome {{ request.user }} </p>
    <a href="{% url 'home' %}"> Home </a>
    <a href="{% url 'about' %}"> About </a>
    <a href="{% url 'contact' %}"> Contact </a>
    {% if not request.user.is_authenticated %}
    <a href="{% url 'login' %}"> Login </a>
    {% endif %}
    {% if request.user.is_authenticated %}
    <a href="{% url 'restaurants:list' %}"> Restaurants </a>
    <a href="{% url 'menus:list' %}"> Menu Items </a>
    <a href="{% url 'logout' %}"> Logout </a>
    {% endif %}
</div>